<a href="https://colab.research.google.com/github/Anandhakrishnanka/pythonlab/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
movies=pd.read_csv("iris.csv")
print(movies.head(5))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
print(movies.describe())
print("coloumn names:%s"%movies.columns.values)

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
coloumn names:['sepal_length' 'sepal_width' 'petal_length' 'petal_width' 'species']

In [10]:
print("null valiue:")
print(movies.isna())

null valiue:
     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [11]:
print(movies.isna().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [12]:
print("null values %s"%movies.isnull().values.any())

null values False

In [13]:
print("null values %s"%movies.isna().sum().sum())

null values 0

In [14]:
clean=movies.dropna(how='any')
movies=movies.dropna(how='any')
print(clean.shape)

(150, 5)

In [16]:
movies.fillna(value=0,inplace=True)
movies['sepal_width'].fillna("noinfo",inplace=True)
print("null values",movies.isna().sum())

null values sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [19]:
duplicate=movies[movies.duplicated()]
print(duplicate)

     sepal_length  sepal_width  petal_length  petal_width    species
142           5.8          2.7           5.1          1.9  virginica